.App {
  text-align: center;
}

.itemsCard{
  margin-left: 0.7rem;
  margin-top: 2rem;
}

.loginBox{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btnDelete{
  margin-left: 1rem;
}

.listofThings{
  display: flex;
  flex-direction: column;
}

.thingsCard{
  width: 18rem;
}




@media (min-width: 1024px){  
  .logoImage:hover{
    cursor: pointer;
  }

  .itemsCard{
    width: 18rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .imageStyle{
    width: 262px;
    height: 155px;
  }

  .resetPass:hover{
    cursor: pointer;
  }

  .cardStyle{
    width: 18rem;
  }

  .btnDelete{
    margin-left: 1rem;
  }
}
